/* module-key = 'com.k15t.scroll.scroll-pdf:spark-export-ui-web-resource', location = 'com/k15t/scroll/exporter/ui/pdf-export-ui-bootstrap.css' */
#k15t-exp-pdf-export-dialog-web-item {
    background-image: url('/s/z25my2/9012/5bulwo/5.15.2/_/download/resources/com.k15t.scroll.scroll-pdf:spark-export-ui-web-resource/PDF_white_16px.svg');
    background-position: 8px 50%;
    background-repeat: no-repeat;
    background-size: 16px;
}

#k15t-exp-pdf-export-dialog-web-item span {
    margin-left: 20px !important;
    /* Workaround for AUI 9 */
    display: inline-block;
}
