
/*==============================================================================
 * LSY styles
 */

@font-face { font-family: LufthansaHead; font-style: normal; font-weight: 400; src: url(/lhfonts/LufthansaHeadWeb-Light.eot?#iefix) format("embedded-opentype"), url(/lhfonts/LufthansaHeadWeb-Light.woff2) format("woff2"), url(/lhfonts/LufthansaHeadWeb-Light.woff) format("woff"), url(/lhfonts/LufthansaHeadWeb-Light.ttf) format("truetype") }
@font-face { font-family: LufthansaHead; font-style: normal; font-weight: 700; src: url(/lhfonts/LufthansaHeadWeb-Bold.eot?#iefix) format("embedded-opentype"), url(/lhfonts/LufthansaHeadWeb-Bold.woff2) format("woff2"), url(/lhfonts/LufthansaHeadWeb-Bold.woff) format("woff"), url(/lhfonts/LufthansaHeadWeb-Bold.ttf) format("truetype") }
@font-face { font-family: LufthansaText; font-style: normal; font-weight: 400; src: url(/lhfonts/LufthansaTextWeb-Regular.eot?#iefix) format("embedded-opentype"), url(/lhfonts/LufthansaTextWeb-Regular.woff2) format("woff2"), url(/lhfonts/LufthansaTextWeb-Regular.woff) format("woff"), url(/lhfonts/LufthansaTextWeb-Regular.ttf) format("truetype") }
@font-face { font-family: LufthansaText; font-style: normal; font-weight: 700; src: url(/lhfonts/LufthansaTextWeb-Bold.eot?#iefix) format("embedded-opentype"), url(/lhfonts/LufthansaTextWeb-Bold.woff2) format("woff2"), url(/lhfonts/LufthansaTextWeb-Bold.woff) format("woff"), url(/lhfonts/LufthansaTextWeb-Bold.ttf) format("truetype") }
@font-face { font-family: LufthansaText; font-style: normal; font-weight: 300; src: url(/lhfonts/LufthansaTextWeb-Light.eot?#iefix) format("embedded-opentype"), url(/lhfonts/LufthansaTextWeb-Light.woff2) format("woff2"), url(/lhfonts/LufthansaTextWeb-Light.woff) format("woff"), url(/lhfonts/LufthansaTextWeb-Light.ttf) format("truetype") }
 
body {  
   font-family: LufthansaText, -apple-system, system-ui, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Helvetica, Arial, sans-serif; 
   color: #05164d !important;
   font-size: 1rem;
}

blockquote {
   border-left-color: #ffb000 !important;
   font-style: italic;
}

.toc-macro {
   font-size:1rem;
}

.aui-nav {  
   font-family: LufthansaText, -apple-system, system-ui, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Helvetica, Arial, sans-serif; 
} 
   
.aui-button.aui-button-primary, .aui-button.aui-button-primary:visited {  
    background-image: none;  
    background-color: #05164D;  
    border-color: transparent;  
    color: #ffffff;  
    text-decoration: none;  
    font-weight: 600;  
}  
      
.aui-button.aui-button-primary:hover, .aui-button.aui-button-primary:hover {  
    background-color: #ffffff;  
    border-color: #05164D;  
    color: #05164D;  
} 
   
.aui-button.aui-button-primary .aui-icon { 
   color: #05164d !important; 
} 
   
.aui-header .aui-quicksearch input { 
    background-color: #52627c;  
}

.acs-side-bar-space-info .avatar-img-container .avatar-img-wrapper, #image-holder .small-logo-container .small-logo-wrapper {
    border: 0pxx solid #ccc;
    border-radius: 0;
    display: table-cell;
    overflow: hidden;
    vertical-align: middle;
}

/*------------------------------------------------------------------------------
 * Hide calendar section from dashboard
 */
.dashboard-calendar { 
   display:none; 
}

/*------------------------------------------------------------------------------
 * Adjust position of Calendar controls
 */
div.plugin-calendar .calendar-panel .right-controls {
   position: absolute;
   right: 110px;
   top: 0px;
}

.aui-tabs.horizontal-tabs ul.tabs-menu li.menu-item.active-tab a {
   background-color: #f0f0f0;
   border-top: 2px  solid #FFAD00;
   border-left: 1px solid #cccccc; 
   border-right: 1px solid #cccccc; 
   margin-left: -1px;
}
 
.aui-tabs.horizontal-tabs ul.tabs-menu li.menu-item a {
   background-color: #ffffff;
   border-color: #ffffff;
   border-top-width: 2px;
}

.aui-tabs.horizontal-tabs > .tabs-menu > .menu-item > a {
   background-color: #ffffff;
   border-color: #ffffff;
   border-top-width: 2px;
}

.aui-tabs.horizontal-tabs ul.tabs-menu li.menu-item a:hover{
   background-color: #f0f0f0;
   border-color: #ffffff;
   border-top-width: 2px;
}

.aui-tabs.aui-tabs-disabled.horizontal-tabs > .tabs-menu > .menu-item > a:hover {
   background-color: #f0f0f0;
   border-color: #ffffff;
   border-top-width: 2px;
}

.aui-tabs.aui-tabs-disabled.horizontal-tabs > .tabs-menu > .active-tab > a:hover {
   border-top: 2px  solid #FFAD00;
   border-left: 1px solid #cccccc; 
   border-right: 1px solid #cccccc; 
}

.aui-tabs.horizontal-tabs ul.tabs-menu li.menu-item.active-tab a:hover {
   border-top: 2px  solid #FFAD00;
   border-left: 1px solid #cccccc; 
   border-right: 1px solid #cccccc; 
}

.aui-tabs.horizontal-tabs > .tabs-menu > .menu-item:first-child a {
   border-color: #ffffff;
}

.mceContentBody  {
   background: none repeat scroll 0 0 #FFFFFF;
   border: medium none;
   text-align: left;
   overflow-y: scroll;
}

/*------------------------------------------------------------------------------
 * Panel Header
 */
.panelHeader {
   padding-bottom: 10px;
   font-size: 14px;
}

ul.tab-navigation .current a {
    color: #FFF;
    background-color: #ffAD00;
    border-bottom-color: #fff;
}
ul.tab-navigation .current a:hover {
    color: #FFFFFF;
    background-color: #FFAD00;
    border-bottom-color: #FFFFFF; /* IE */
}

#footer {
   border-top: 1px solid #ccc;
   height: 30px;
   padding-top: 16px;
}

#footer .footer-body {
   background-image: none;
   height: 30px;
   margin-top: 0;
   margin-bottom: 0;
   padding-bottom: 0;
   min-height:30px;
}

.aui-dropdown li.active span {
  color:#fff
}

/*------------------------------------------------------------------------------ 
 * Hide Anonymous permission table on space permission page 
 */  
#aPermissionsTable {
   display:none;
}

#com-atlassian-confluence .aui-dd-parent .aui-dropdown ol {
   background-color:#fff;
   padding-top: inherit;
}

.aui-dropdown ol li {
    background-color:#fff;
}

#forgot-password {
    display:none;
}
/*------------------------------------------------------------------------------ 
 * Jira Issue Lozenge 
 */  
.jira-issue, .unknown-jira-issue {background: #f8f8f8;padding: 3px 6px;border: 1px solid #e0e0e0;border-radius: 2px;display: inline-block;line-height: 19px;white-space: normal;}  
.jira-issue .jira-issue-key .icon {padding-right:4px; padding-bottom:2px;}  
.jira-issue .aui-lozenge {margin-top:2px; margin-left:8px;}

.imap-block-table tbody {
 border-bottom: 0px;
}

.wrapped .confluenceTd {
padding-right: 10px;
}

/* source ovelapping fix - begin */  
body.wiki-content.fullsize {  
    overflow-y: auto;  
    padding: 0 10 px;  
}  
body.mceContentBody {  
    background: #fff;  
    border: none;  
}  
.wiki-content .wysiwyg-macro {  
    padding: 24px 2px 2px 2px;  
    width: 100%;  
}  
.wysiwyg-macro {  
    background-color: #f0f0f0;  
    background-position: 0 0;  
    background-repeat: no-repeat;  
    border: 1px solid #ddd;  
}  
.wiki-content .wysiwyg-macro-body {  
    background-color: white;  
    padding: 10px;  
} 
/* source ovelapping fix - end */  


